<div class="oj-hybrid-applayout-page">
	<div class="oj-applayout-fixed-top">
		<header role="banner" class="oj-hybrid-applayout-header">
			<oj-module config="[[headerConfig]]"></oj-module>
		</header>
	</div>
	<div class="oj-applayout-content">
		<div role="main" class="oj-hybrid-applayout-content">
			<div class="oj-hybrid-padding">
				<h1>Fantástico videochat</h1>
				<span data-bind="html : estadoChatDeTexto"></span> - <span
					data-bind="html : estadoSignaling"></span><br> <strong
					data-bind="html : errorChatDeTexto" style="color: red"></strong> -
				<strong data-bind="html : errorSignaling" style="color: red"></strong>

				<!-- ko with : user -->
				<div class="oj-sm-12">
					<div class="oj-sm-4">
						<!-- ko if : picture -->
						<img data-bind="attr : { src : picture }" width="50" height="50">
						<!-- /ko -->
					</div>
					<div class="oj-sm-4">
						Conectado como <span data-bind="html : name"></span>
					</div>
					<div class="oj-sm-4"></div>
				</div>
				<!-- /ko -->

				<div class="oj-sm-12">
					<button data-bind="click : encenderVideoLocal">Encender
						vídeo local</button>
					<button data-bind="click : crearConexion">Crear conexión</button>
				</div>

				<!-- ko with : chat -->
				<div class="oj-sm-12 oj-flex">
					<div class="oj-sm-4">
						<h4>Usuarios</h4>
						<!-- ko foreach : usuarios -->
						<div>
							<!-- ko if : foto -->
							<img data-bind="attr : { src : foto }" width="30" height="30">
							<!-- /ko -->
							<a data-bind="html : nombre, click : function() { $parent.setDestinatario($data); }"></a>
						
							<button	data-bind="click : function() { $parents[$parents.length-1].enviarOferta($data); }">Enviar oferta</button>
						</div>
						<!-- /ko -->
					</div>
					
					<div class="oj-sm-4">
						<h4>LLamadas</h4>
						<!-- ko foreach : llamadasEntrantes -->
						<div>
							<a
								data-bind="html : $data"></a>
							<button id="btnAceptar"
								data-bind="click : function() { $parents[$parents.length-1].aceptarLlamada($data); }">Aceptar</button>
							<button id="btnCortar" data-bind="click : function() { $parent.cortarLlamada(); }">Rechazar</button>
						</div>
						<!-- /ko -->		
					</div>

					<div class="oj-sm-4">
						<h4>Mensajes a todos</h4>
						<!-- ko foreach : mensajesRecibidos -->
						<div>
							<strong data-bind="html : hora"></strong> &nbsp; <span
								data-bind="html : texto"></span>
						</div>
						<!-- /ko -->

						<input type="text" size="50"
							data-bind="value : mensajeQueVoyAEnviar">
						<button data-bind="click : enviarATodos">Enviar mensaje a todos</button>
						<br>
					</div>
				</div>

				<div class="oj-sm-12 oj-flex">
					<div class="oj-sm-4">
						<h4>Conversaciones privadas</h4>
						<!-- ko foreach : conversaciones -->
						<div data-bind="visible : visible">
							<!-- ko with : nombreInterlocutor -->
							Chat con <span data-bind="html : $data"></span>
							<!-- /ko -->
							<input type="text" data-bind="value : textoAEnviar"
								placeholder="Texto de tu mensaje">
							<button data-bind="click : enviar">Enviar</button> 
							<button data-bind="click : llamar; ">Llamar</button>

							<!-- ko foreach : mensajes -->
							<div>
								<span data-bind="html : $data.hora"></span>: <span
									data-bind="html : $data.texto"></span>
							</div>
							<!-- /ko -->
						</div>
						<!-- /ko -->
					</div>
					<div class="oj-sm-4">
						<h4>Mensajes de conexión</h4>
						<!-- ko with : $parents[$parents.length-1].videoChat -->
						<!-- ko foreach : mensajes -->
						<div data-bind="html : texto, style : { color :  color }"></div>
						<!-- /ko -->
						<!-- /ko -->
					</div>
					<div class="oj-sm-4">
						<h4>Zona de vídeo</h4>
						<video id="widgetVideoLocal" playsinline autoplay controls mute
							width="200" height="200"></video>
						<video id="widgetVideoRemoto" playsinline autoplay controls
							width="200" height="200"></video>
					</div>
				</div>
				
				<div class="oj-sm-12">
					<h2>Recuperación de mensajes</h2>
					<span>Introduce un usuario</span>
					
					<input type="text" data-bind="value : personaABuscar"
								placeholder="Usuario">
					<button data-bind="click : recuperarMensajes">Recuperar mensajes</button>
					
					<!-- ko foreach : mensajesRecuperados -->
					<div>
					<span data-bind="html : $data.date"></span>
					<span data-bind="html : $data.sender"></span>: 
					<span data-bind="html : $data.message"></span> 
					</div>
					<!-- /ko -->
				</div>
				<!-- /ko -->
			</div>
		</div>
	</div>
</div>